:root{
    --header-color: #e5eaf5;
    --background-color-var: #e5eaf5;
    --header-text-color: #494d5f;
    --features-section-bg-color: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

#main_container{
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 80px;
    height: auto;
    background: var(--background-color-var);
    background-attachment: fixed;
}

#video{
    
    display: block;
    margin: auto;
    margin-top: 50px;

}

#header{
    grid-area: header;
    display: grid;
    position: fixed;
    height: 80px;
    width: 100%;
    grid-template-areas: "logo texto nav" ;
    grid-template-columns: 80px 140px auto;
    background: var(--header-color);
    z-index: 0;
    transition: 1s all;
    color: var(--header-text-color);
}

.header-color-changer{
    --header-color: #ffffff; 
    --header-text-color: #494d5f ; 
    background: var(--header-color);
    color: var(--header-text-color);
}

#header-img{
    margin: auto;
    grid-area: logo;
    width: 60px;
    float: left;
}

#header-title{
    grid-area: texto;
    margin: auto;
    vertical-align: middle;
    padding: 1em;
    font-size: 18px;
    font-weight: bold;
}

#header-title > a{
    text-decoration: none;
    color: inherit;
}

#nav-bar{
    grid-area: nav;
    display: flexbox;
    flex-flow: column;
    align-self: center;
}

#nav-bar ul{
    list-style: none;
    
}

#nav-bar ul > li{
    
    float: right;
    padding: 8px 16px 8px 16px;
}

#nav-bar ul > li > a{
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    
}

#nav-bar ul > li > a:hover{
    transform: scale(1.5);
    animation-name: nav-link-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

#container{
    grid-area: content;
    background: transparent;
    
}

#top-section{
    height: 100vh;
    background: transparent;
    display: grid;
    grid-template-areas: 
            "t-title t-title"
            "t-video t-texto"
            "t-button t-button";
    grid-template-columns: "30vw 30vw";
    
}

#top-text{
    grid-area: t-texto;
    width: 30vw;
    text-align: justify;
    margin: auto;
}

#video{
    grid-area: t-video;
    width: 30vw;
    margin: auto;
}

#features-section{
    height: 100vh;
    background: var(--features-section-bg-color);
}

.feature{
    display: grid;
    grid-template-areas: "f-icon f-title"
                         "f-icon f-description";
    grid-column: 110px;
    width: 70vw;
    margin: auto;
    padding: 1.5em 0em 1.5em 0em;
}

.feature-icon{
    grid-area: f-icon;
    width: 80px;
    height: auto;
    align-self: center;
    border-radius: 100%;
    padding: 1em;
}

.feature-title{
    grid-area: f-title;
    padding: 4px 8px 0 8px;
    font-size: 20px;
    font-weight: bold;
}

.feature-text{
    grid-area: f-description;
    align-self: center;
    padding: 8px;
    text-align: justify;
}

#footer{
    grid-area: footer;
}

#top-title-section{
    grid-area: t-title;
    font-size: 28px;
    font-weight: bold;
    margin: auto;
}

#features-title-section{
    display: block;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    padding: 2em 0em 0.5em 0em;
}

#pricing-title-section{
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
}


#pricing-section{
    align-content: center;
    display: grid;
    grid-template-areas: "ps-title"
                        "ps-card";
    grid-template-rows: 70px max-content;
    column-gap: 1.4em;
    height: 100vh; 
}

#cards{
    grid-area: ps-card;
    display: grid;
    column-gap: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.pricing-card{
    display: grid;
    grid-template-areas: 
            "p-title"
            "p-price"
            "p-features"
            "p-button";
    grid-template-rows: 40px 32px 150px 40px;
    width: 270px;
    background: #fff;
}

.pricing-title{
    text-align: center;
    grid-area: p-title;
    font-size: 20px;
    height: 100%;
    background: rgb(255, 247, 180);
    width: 270px;
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.pricing-price{
    grid-area: p-price;
    font-size: 18px;
    text-align: center;
    height: 100%;
    width: inherit;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.pricing-features{
    grid-area: p-features;
    list-style: none;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: inherit;
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.pricing-card > a {
    text-decoration: none;
    color: black;
    background: pink;
    height: auto;
    width: 270px;
    vertical-align: middle;
    top: 12px;
    text-align: center;
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


#footer{
    grid-area: footer;
    background: #fff;
    height: 150px;   
}

#form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: fit-content;
    
}

#form > input{
    padding: 16px;
    width: 250px;
    border: 1px solid rgb(226, 226, 226);
}


#footer-text{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    opacity: 0.5;
}

@keyframes nav-link-animation{
    0%{
        font-size: 18px;
    }

    100%{
        font-size: 20px;
    }
}

@media (max-width: 900px){
    #top-section{
        height: auto;
        background: transparent;
        display: grid;
        grid-template-areas: 
                "t-title"
                "t-video"
                "t-texto"
                "t-button";
    }
    #top-text{
        grid-area: t-texto;
        width: 60vw;
        text-align: justify;
        margin: auto;
        padding: 1em;
    }

    #features-section{
        height: auto;
        background: var(--features-section-bg-color);
    }

    .feature{
        display: grid;
        grid-template-areas: "f-icon f-title"
                             "f-icon f-description";
        grid-column: 110px;
        width: 80vw;
        margin: auto;
        padding: 1.5em 0em 1.5em 0em;
    }

    .feature-text{
        grid-area: f-description;
        align-self: center;
        padding: 8px;
        text-align: justify;
    }

    #pricing-section{
        align-content: center;
        display: grid;
        grid-template-areas: "ps-title"
                             "ps-card";
        grid-template-rows: 70px max-content;
        column-gap: 1.4em;
        height: auto; 
    }

    #cards{
        grid-area: ps-card;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        row-gap: 16px;
        padding-bottom: 16px;
    }

    #form{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: fit-content;
        row-gap: 8px;
    }
    
    #form > input{
        padding: 16px;
        width: auto;
        border: 1px solid rgb(226, 226, 226);
        display: flexbox;
    }

    #footer-text{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding-bottom: 16px;
        opacity: 0.5;
    }
}

@media (min-width: 900px){
    #cards{
        grid-template-columns: repeat(3, 270px);
    }
}